@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
body {
    font-family: 'Droid Arabic Kufi', sans-serif;
}
.dat{
    border: none;
    height:40px;
}
.input-group-addon {
    border: none;
}
input[type="number"] , input[type="text"] {
    font-size: 16px;
    color: #5E6472;
    outline: none;
    border: none;
    transition: 0.2s linear;
}
input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}
.input-group-sm>.form-control {
    height: 28px;
    padding: 5px 10px;
    font-size: 16px;
}
.control-label {
    float:right
}
table {
    margin-top:50px;
}
table.dataTable thead > tr > th {
    padding-right: 0px;
}
table th {
    text-align:center;
    background:none
}
table td {
    text-align:center;
}
.table-bordered>thead>tr>th {
    border: 1px solid #eee;
}
.table-bordered {
    border: 1px solid #eee;
}
element.style {
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #333;
}
.dataTables_wrapper .dataTables_filter {
    float: left;
    text-align: right;
}
.dataTables_wrapper .dataTables_length {
    float: right;
}
.table-bordered>tbody>tr>td {
    border: none;
}
.panel {
    border:none
}
.panel-info {
    border-radius: 5px;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Droid Arabic Kufi', sans-serif;
}
.panel-info>.panel-heading{
    color:#000;
    text-align:center;
    background:#c4f7e7 ;
}
.panel-info>.panel-footer{
    text-align:center;
    background:#fed6e3 ;
}
.panel-heading {
    padding:0px;
}
.panel-body{
    background-color:#f5f5f5;
}
button {
    display: inline-block;
    color: #fff;
    height: 40px;
    padding: 0 20px;
    background: #3c8dbc;
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: 1% auto;
    letter-spacing: 0.05em;
    line-height:30px;
    transition: .6s;
}
.butfot {
    background:#B8F2E6
}
i.fa-plus-square {
    font-size:18px;
    color:#fff;
}
i.fa-plus-square:hover {
    color:#000;
}
button:hover {
    background: transparent;
    border: 1px solid #fff;
    color:#fff;
    transition: .6s;
}
button:hover {
    transform: translatey(3px);
    box-shadow: none;
}
/* buttons hover Animation */
button:hover {
    /*animation: ani9 0.4s ease-in-out infinite alternate;*/
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}
.head {
    background:#FFFFFF;
    height:50px;
    text-align:center;
    margin-top:-20px;
    padding:0px;
}
.head h3 {
    line-height:50px;
    font-size: 20px;
}
#sideBar {
    opacity: .99;
    background: #4a5f69;
    height: 100%;
    overflow-y: auto;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    border-radius:4px;
    margin-top:6.2%;
    margin-bottom:20px;
    text-align:center;
    padding:0px;
}
.main-nav {
    list-style-type: none;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    margin: 0;
    padding:0px;
}
.main-nav li {
    line-height: 40px;
    padding: 0px;
    border-bottom: 1px solid #e3fdf5;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.12);
}
.main-nav li.active , .main-nav li:hover {
    background:#e5f1f8;
    color: #000;
}
.main-nav li a:hover {
    color: #000;
}
.main-nav li a {
    color: #fff;
    display: block;
    font-weight: normal;
    text-decoration: none;
}
.left {
    margin:2% 0;
}
charset "UTF-8";
:root {
    --screen-width: 320px;
    --screen-height: 560px;
    --header-bg-color: #673AB7;
    --splash-bg-color: #368887;
}
.nav__toggle {
    display: inline-block;
    position: absolute;
    z-index: 10;
    padding: 0;
    border: 0;
    background: transparent;
    outline: 0;
    right: 15px;
    top: 15px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.15s linear;
}
.nav__toggle:hover, .nav__toggle:focus {
    background-color: rgba(0, 0, 0, 0.5);
}
.nav__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: var(--screen-height);
    position: relative;
    z-index: 5;
    visibility: hidden;
}
.nav__item {
    opacity: 0;
    transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
}
.nav__item:nth-child(1) {
    transform: translateY(-40px);
}
.nav__item:nth-child(2) {
    transform: translateY(-80px);
}
.nav__item:nth-child(3) {
    transform: translateY(-120px);
}
.nav__item:nth-child(4) {
    transform: translateY(-160px);
}
.nav__item:nth-child(5) {
    transform: translateY(-200px);
}
.nav__link {
    color: white;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 1rem;
}
.nav__link:hover, .nav__link:focus {
    outline: 0;
    background-color: rgba(0, 0, 0, 0.2);
}
.menuicon {
    display: block;
    cursor: pointer;
    color: white;
    transform: rotate(0deg);
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menuicon__bar, .menuicon__circle {
    fill: none;
    stroke: currentColor;
    stroke-width: 3;
    stroke-linecap: round;
}
.menuicon__bar {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-in-out;
}
.menuicon__circle {
    transition: stroke-dashoffset 0.3s linear 0.1s;
    stroke-dashoffset: 144.513262038;
    stroke-dasharray: 144.513262038;
}
.splash {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 1px;
    height: 1px;
}
.splash::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: var(--splash-bg-color);
    width: 284vmax;
    height: 284vmax;
    top: -142vmax;
    left: -142vmax;
    transform: scale(0);
    transform-origin: 50% 50%;
    transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
    will-change: transform;
}
.nav:target > .splash::after, .nav--open > .splash::after {
    transform: scale(1);
}
.nav:target .menuicon, .nav--open .menuicon {
    color: white;
    transform: rotate(180deg);
}
.nav:target .menuicon__circle, .nav--open .menuicon__circle {
    stroke-dashoffset: 0;
}
.nav:target .menuicon__bar:nth-child(1), .nav:target .menuicon__bar:nth-child(4), .nav--open .menuicon__bar:nth-child(1), .nav--open .menuicon__bar:nth-child(4) {
    opacity: 0;
}
.nav:target .menuicon__bar:nth-child(2), .nav--open .menuicon__bar:nth-child(2) {
    transform: rotate(45deg);
}
.nav:target .menuicon__bar:nth-child(3), .nav--open .menuicon__bar:nth-child(3) {
    transform: rotate(-45deg);
}
.nav:target .nav__menu, .nav--open .nav__menu {
    visibility: visible;
}
.nav:target .nav__item, .nav--open .nav__item {
    opacity: 1;
    transform: translateY(0);
}
body {
    background-color: #D7D7D7;
    font-family: "Roboto";
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.viewport {
    width: var(--screen-width);
    height: var(--screen-height);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: white;
}
.header {
    height: 5rem;
    background-color: var(--header-bg-color);
}
.main {
    padding: 20px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    grid-auto-rows: 130px;
    grid-gap: 20px;
}
.gallery__item {
    height: 100%;
    background-color: #D8D8D8;
}
.gallery__item:hover, .gallery__item:focus {
    background-color: #A4A4A4;
}
.nav-mobile{
    display: none;
}
@media (max-width: 768px){
    .nav-mobile{
        display: block;
        height: 70px;
    }
    .skin-blue .main-header .logo {
        color: #ffffff;
        border-bottom: 0 solid transparent;
        margin-top: 11px;
        background: none;
    }
    .nav__menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: var(--screen-height);
        position: relative;
        z-index: 5;
        visibility: hidden;
        margin-top: 70px;
        background: #333;
        align-items: end;
        border-top: 1px solid #eee;
        padding: 15px;
    }
    .nav__link {
        color: white;
        display: block;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0px;
        font-size: 18px;
        text-decoration: none;
        padding: .7rem;
        line-height: 0;
    }
    .nav__link span {
        margin-right: 10px;
    }
    aside,.navbar-static-top{
        display: none !important
    }
}

